body{
font-family:Arial, sans-serif;
margin:0;
padding:40px;
background:#f5f5f5;
}

h1{
text-align:center;
}

.cards{
display:flex;
justify-content:center;
gap:40px;
margin-top:50px;
}

.card{
background:white;
padding:30px;
width:260px;
border-radius:12px;
text-decoration:none;
color:black;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
transition:0.2s;
}

.card:hover{
transform:scale(1.05);
}

header{
text-align:center;
margin-bottom:40px;
}

.menu{
max-width:500px;
margin:auto;
}

.pizza-item{
background:white;
padding:20px;
margin-bottom:10px;
border-radius:8px;
}
